*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f0ebf8;
}

h1,h2,h3,h4,h5{
    color: #333;
}

p, label{
    color: #444;
}

input{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea
{
    width: 400px;
}

textarea{
    padding: 10px 0px;
}

/*page header*/
.header{
    height: 160px;
    padding: 20px;
    background-color: #673ab7;
}

.header h3{
    color: #fff;
    margin: 0; 
}

/*form container*/
.form-container{
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

/*Form-header*/
.form-header{
    border-bottom: 1px solid #DFDFDF;
    height: 45px;
}

.form-header p{
    color: #673ab7;
    border-bottom: solid 2px #673ab7;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

.form-body{
    padding: 30px;
}
.form-body p{
    margin-bottom: 20px;
}

.form-title{
    margin-bottom: 15px;
}

.required-fild{
    color:red;
}

.box-input{
     margin-bottom: 35px;
}

.block{
    display: block;
}

.optional-box{
    display: inline-block;
    margin:0px 30px 30px 0px;
}

.optional-list li{
    list-style: none;
    margin-bottom: 5px;
}

.box-input p{
 margin-bottom: 15ox;
}

.btn-submit{
    background-color: #673ab7;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover{
    background-color: #fff;
    color: #673ab7;
    border-color: #673ab7;
}